/* ====================== root */

:root {
    --brand-color-primary: #5170AF;
    --brand-color-primary-light: #93A9D7;
    --brand-color-primary-dark: #000e29;
    --brand-color-primary-bright: #1c5bd9;

    --background-color-light: ;
    --background-color-med-light: #aaaaaa;
    --background-color-med-dark: #202020;
    --background-color-dark: #151515;

    --mlist-bl-btn-bg: linear-gradient(to bottom, #202020 0%, #333333 30%, #202020);
    --mlist-bl-btn-bg-hover: linear-gradient(to bottom, #000e29 0%, #5170AF 30%, #000e29);
    --mlist-bl-btn-bg-selected: linear-gradient(to bottom, #333333 0%, #202020 40%, #333333);

    --nexus-color-primary: #D98F40;
    --nexus-color-dark: #B4762C;

    --bs-color-primary: #0C6EFD;
    --bs-color-secondary: #6C757D;
    --bs-color-success: #198754;
    --bs-color-danger: #DC3644;
    --bs-color-warning: #FFC109;
    --bs-color-info: #0CCAF0;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
}

/* ====================== General */

body {
    background-color: #151515;
    width: 100vw;
    overflow-x: hidden;
}

.content-container {
    display: block;
    width: 80vw;
    max-width: 1000px;
    height: 100%;
    padding: 40px 0;
    margin: 0 auto;
}

.alert {
    z-index: 999;
}

.section-heading-split {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 25px;
    row-gap: 25px;
    margin: 0px 0px 15px;
}

.section-heading-split .section-title {
    text-align: left;
    vertical-align: middle;
    grid-column-start: 1;
    grid-column-end: span 2;
    width: 100%;
    min-width: fit-content;
}

.section-heading-split h3 {
    margin: auto 0;
}

.section-heading-split .section-buttons {
    display: flex;
    grid-column-end: -1;
    width: 100%;
}

.section-heading-split .section-buttons a {
    width: 100%;
}

a.standard-link,
a.standard-link:visited {
    cursor: pointer;
    text-decoration: underline;
    color: var(--bs-link-color);
    fill: var(--bs-link-color);
}

a.standard-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--bs-link-hover-color);
    fill: var(--bs-link-hover-color);
}

a.white-link,
form a.white-link {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    fill: #ffffff;
}

a.white-link:hover,
form a.white-link:hover {
    color: var(--brand-color-primary);
    fill: var(--brand-color-primary);
}

.card-page {
    display: grid;
    row-gap: 30px;
    width: 80vw;
    height: 100%;
}

.card-page a,
.form-page a {
    text-decoration: none;
    color: #ffffff;
    fill: #ffffff;
}

.card-page a:hover,
.card-page a:visited:hover,
.form-page a:hover,
.form-page a:visited:hover {
    cursor: pointer;
    color: #5170AF;
    fill: #5170AF;
}

.card-page a:visited,
.form-page a:visited {
    color: #cccccc;
    fill: #cccccc;
}

.content-container a.btn,
.content-container a.btn:visited,
.content-container a.btn:hover,
.content-container a.btn:visited:hover {
    color: #ffffff;
}

.content-container a.btn-warning,
.content-container a.btn-warning:visited:hover,
.content-container a.btn-info,
.content-container a.btn-info:visited:hover {
    color: #000000;
}

.content-container a.btn-outline-nexus,
.content-container a.btn-outline-nexus:visited {
    color: var(--nexus-color-primary);
}

.content-container a.btn-outline-primary,
.content-container a.btn-outline-primary:visited {
    color: var(--bs-color-primary);
}

.content-container a.btn-outline-secondary,
.content-container a.btn-outline-secondary:visited {
    color: var(--bs-color-secondary);
}

.content-container a.btn-outline-success,
.content-container a.btn-outline-success:visited {
    color: var(--bs-color-success);
}

.content-container a.btn-outline-danger,
.content-container a.btn-outline-danger:visited {
    color: var(--bs-color-danger);
}

.content-container a.btn-outline-warning,
.content-container a.btn-outline-warning:visited {
    color: var(--bs-color-warning);
}

.content-container a.btn-outline-info,
.content-container a.btn-outline-info:visited {
    color: var(--bs-color-info);
}

.content-container a.btn-outline-primary:hover,
.content-container a.btn-outline-secondary:hover,
.content-container a.btn-outline-success:hover,
.content-container a.btn-outline-danger:hover,
.content-container a.btn-outline-warning:hover,
.content-container a.btn-outline-info:hover {
    color: #ffffff;
}

.content-container a.btn-warning:hover,
.content-container a.btn-info:hover {
    color: #000000;
}

.content-container .modlistpage a.nexus-link {
    color: var(--nexus-color-primary);
    text-decoration: underline;
}

.content-container .modlistpage a.nexus-link:hover {
    color: var(--nexus-color-dark);
}

.content-container .modlistpage a.nexus-link:visited {
    color: var(--nexus-color-primary);
}

h1 {
    margin-bottom: 25px;
}

.page-heading {
    color: #ffffff;
    width: fit-content;
    /* margin: 0 auto 25px; */
    margin: 0 auto;
}

.btn {
    border-radius: 8px;
}

.btn:hover {
    cursor: pointer;
}

.h-glow-primary:hover {
    box-shadow: 0 0 0px 2px #000000, 0 0px 2px 2px #ffffff, 0 4px 12px 6px #5170AF, 0 2px 6px 2px #5170AF;
}

.shadowed_hr_wrapper {
    position: relative;
    bottom: 36px;
    margin-bottom: -36px;
}

.shadowed_hr_outer {
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
    clip-path: content-box;
}

.shadowed_hr_inner {
    background-color: #000000;
    box-shadow: 1px 0px 20px #000000;
    height: 10px;
    position: relative;
    top: -8px;
}

.shadowed_hr_outer .shadowed_hr_inner hr {
    position: relative;
    bottom: -8px;
}

svg.info-icon {
    width: 0.9em;
    aspect-ratio: 1/1;
    position: relative;
    bottom: 1px;
    margin: 3px;
}

.info-callout svg {
    width: 0.9em;
    aspect-ratio: 1/1;
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    fill: #d3d3d3;
    vertical-align: middle;
}

.info-callout {
    cursor: pointer;
    font-size: 0.9em;
    color: #d3d3d3;
    text-align: center;
    margin: 5px 15px;
}

/* ======================= Scroll Up btn */

button#scrollToTop {
    display: none;
    position: sticky;
    width: fit-content;
    height: fit-content;
    bottom: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: -50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 25%;
    z-index: 99;
}

button#scrollToTop:hover {
    opacity: 100%;
    /* background-color: #353535;
    border: 2px solid #353535;
    border-radius: 50%; */
}

button#scrollToTop svg {
    height: 35px;
    width: auto;
    fill: #606060;
    cursor: pointer;
}

@media (max-width: 767px) {

    /* For phones */
    #scrollToTop {
        display: none;
        /* Hide the button on small screens */
    }
}

@media (min-width: 767.1px) {

    /* For larger screens */
    #scrollToTop {
        display: block;
        /* Show the button on larger screens */
    }
}

/* ======================= Nav */

body .navbar {
    background-color: #151515;
    --navbar-height: 50px;
    height: var(--navbar-height);
    box-shadow: 0px 0px 20px #000000;
    z-index: 50;
    padding: 0;
}

.navbar .navbar-expand {
    flex-wrap: unset;
}

.navbar-expand .navbar-nav {
    height: 100%;
}

.navbar .container-fluid {
    position: relative;
    top: 0;
    height: var(--navbar-height);
    padding: 6px 30px;
    padding-right: 45px;
}

.navbar .navbar-header {
    display: flex;
    align-items: center;
    height: var(--navbar-height);
}

.navbar a {
    color: #5170AF;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: #A6BAE2;
}

.navbar li>a {
    color: #66757f;
    font-size: 16px;
    font-weight: bold;
}

.navbar li>a:hover {
    color: #5170AF;
}

.navbar-brand {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-brand>img {
    display: inline-block;
    position: relative;
    margin-right: 0.6rem;
    height: 1.5rem;
}

.navbar .navbar-header .navbar-brand span {
    position: relative;
    background: linear-gradient(176deg, #5170AF, #5170AF 20%, #93A9D7 55%, #5170AF 58%, #435F97 60%, #5170AF 70%);
    background-clip: text;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5rem;
    top: -1px;
    color: transparent;
    margin-bottom: 0px;
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar li a {
    margin: 0 20px;
}

nav form.navbar-form {
    display: flex;
    position: relative;
}

.onboarding>.navbar form.navbar-form {
    display: none;
}

.onboarding {
    background-color: #252526;
    color: #fff;
}

@media (max-width: 468px) {
    nav form.navbar-form {
        display: none;
    }
}

/* ===================== Dropdown for navbar*/

.dropdown {
    height: 100%;
}

.dropdown svg {
    width: 1.2em;
    min-width: 20px;
    aspect-ratio: 1/1;
    fill: #66757F;
    position: relative;
}

/* Style The Dropdown Button */
.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    background-color: #151515;
    color: #66757F;
    padding: 0 25px;
    border: solid 1.5px;
    min-width: 150px;
    border-color: #66757F;
    border-radius: 8px;
    cursor: pointer;
}

.dropbtn span,
.dropbtn svg {
    margin: auto 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    top: 44px;
    background-color: #252525;
    min-width: min-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* navbar shadow on dropdown list */
.dropdown-content::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

/* Links inside the dropdown */
.dropdown .dropdown-content a,
li .dropdown .dropdown-content a,
.order-dropdown .dropdown-content a,
.per-page-dropdown .dropdown-content a {
    color: #ffffff;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-weight: 400;
    text-align: right;
    white-space: nowrap;
    margin: 0;
}

.dropdown-content hr {
    color: #aaaaaa;
    width: 80%;
    height: 2px;
    margin: 0 auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #353535;
    color: #5170AF;
    border-radius: 10px;
}

/* Show the dropdown menu when the button is focused */
.dropdown:focus-within .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:focus-within .dropbtn {
    background-color: #5170AF;
    border-color: transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
}

.dropdown:focus-within svg {
    fill: #ffffff;
}

/* ===================== Forms */

.form-page {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    min-width: 350px;
    height: 100%;
    padding-top: 20px;
    margin: 0 auto;
}

.form-header {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.form-control {
    margin-bottom: 20px;
}

/* .form-check .form-switch is div containing on/off switch and label */
form .form-check {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: min-content;
}

form .form-switch {
    padding-left: 0;
}

.form-check .form-check-container {
    /* div containing switch (governs surrounding area) */
    display: inline-block;
    height: 100%;
    border-right: solid 10px #151515;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #202020;
    padding: 0 1rem;
    align-content: center;
}

.form-check label {
    /* label for the on/off switch */
    display: inline-block;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* color: #ffffff; */
    color: #21252A;
    font-weight: bold;
    padding: 0.6rem 1rem;
}

form h6 {
    color: #ffffff;
}

form .form-switch .form-check-input {
    /* the actual on/off switch element */
    height: 1.3rem;
    width: 2.5rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.form-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-page .edit-page-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.form-page .edit-page-buttons a,
.form-page .edit-page-buttons form,
.form-page .edit-page-buttons button {
    min-width: 180px;
    max-width: 100%;
    height: fit-content;
}

.form-page .edit-page-buttons form button {
    width: 100%;
    height: fit-content;
}

/* ===================== User profile */

.profile .card-page .games-modlists {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 25px;
    row-gap: 25px;
    padding: 0px;
}

.profile .modlist-card {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 5/4;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
}

.profile .no-modlists-card {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
}

.profile .no-modlists-card .info-and-buttons {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    padding: 20px;
}

.profile .modlist-card .modlist-details {
    display: block;
    align-self: flex-end;
    width: 100%;
    min-height: 38%;
    padding: 0px 20px 15px;
    bottom: 0px;
    list-style-type: none;
    z-index: 1;
}

.profile .modlist-details .modlist-title a,
.profile .modlist-details .modlist-title h5 {
    text-shadow: 1px 1px 2px black, 0 0 0.5em #202020, 0 0 1em #202020;
}

.profile .modlist-details ul {
    list-style-type: none;
    padding-left: 0px;
}

.profile .modlist-details li {
    font-size: 0.8em;
    line-height: 1.1em;
    text-align: left;
    margin-bottom: 8px;
}

.profile .profile-subhead {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    column-gap: 25px;
    row-gap: 25px;
    padding: 0px;
    margin: 40px 0px 10px;
}

.profile-subhead .modlist-card {
    aspect-ratio: unset;
    border: solid 1px #ffffff;
}

.profile-subhead .modlist-card:hover {
    aspect-ratio: unset;
    border: solid 1px #5170AF;
}

.profile .profile-subhead .modlist-details {
    background-size: 100% 120px;
    background-position: top;
    background-repeat: no-repeat;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    padding: 0;
    overflow: hidden;
}

.profile-subhead .modlist-details .modlist-title {
    margin: 0;
}

.profile-subhead .modlist-details .modlist-title a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.profile .profile-subhead .new-modlist-btn {
    display: flex;
    grid-column-end: -1;
}

.profile .profile-subhead a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.profile-btn.btn-outline-primary svg {
    fill: var(--bs-color-primary);
}

.profile-btn.btn-outline-secondary svg {
    fill: var(--bs-color-secondary);
}

.profile-btn svg {
    height: 1.2rem;
    width: 1.2rem;
    position: relative;
    bottom: 1px;
}

.profile-btn:hover svg {
    fill: #ffffff;
}

/* ===================== Nexus Related */

.nexus-btn-container {
    position: relative;
    top: -35px;
    z-index: 4;
}

.nexus-btn-container span {
    position: absolute;
    left: 8px;
    top: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

img.nexus-btn {
    position: absolute;
    padding: 0px;
    right: 5px;
    border: none;
    background: transparent;
    width: 30px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

img.nexus-btn:hover {
    -webkit-filter: drop-shadow(0px 0px 8px #D98F40);
    filter: drop-shadow(0px 0px 8px #D98F40);
}

.btn-nexus {
    color: #FFFFFF;
    background-color: #D98F40;
    border-color: #B4762C;
}

.btn-nexus:hover,
.btn-nexus:focus,
.btn-nexus:active,
.btn-nexus.active,
.open .dropdown-toggle.btn-nexus {
    color: #FFFFFF;
    background-color: #B4762C;
    border-color: #B4762C;
}

.btn-nexus:active,
.btn-nexus.active,
.open .dropdown-toggle.btn-nexus {
    background-image: none;
}

.btn-nexus.disabled,
.btn-nexus[disabled],
fieldset[disabled] .btn-nexus,
.btn-nexus.disabled:hover,
.btn-nexus[disabled]:hover,
fieldset[disabled] .btn-nexus:hover,
.btn-nexus.disabled:focus,
.btn-nexus[disabled]:focus,
fieldset[disabled] .btn-nexus:focus,
.btn-nexus.disabled:active,
.btn-nexus[disabled]:active,
fieldset[disabled] .btn-nexus:active,
.btn-nexus.disabled.active,
.btn-nexus[disabled].active,
fieldset[disabled] .btn-nexus.active {
    background-color: #D98F40;
    border-color: #B4762C;
}

.btn-nexus .badge {
    color: #D98F40;
    background-color: #FFFFFF;
}

.btn-outline-nexus {
    color: #D98F40;
    background-color: transparent;
    border-color: #D98F40;
}

.btn-outline-nexus:hover,
.btn-outline-nexus:focus,
.btn-outline-nexus:active,
.btn-outline-nexus.active,
.open .dropdown-toggle.btn-outline-nexus {
    color: #ffffff;
    background-color: #D98F40;
    border-color: #B4762C;
}

.btn-outline-nexus:active,
.btn-outline-nexus.active,
.open .dropdown-toggle.btn-outline-nexus {
    background-image: none;
}

.btn-outline-nexus.disabled,
.btn-outline-nexus[disabled],
fieldset[disabled] .btn-outline-nexus,
.btn-outline-nexus.disabled:hover,
.btn-outline-nexus[disabled]:hover,
fieldset[disabled] .btn-outline-nexus:hover,
.btn-outline-nexus.disabled:focus,
.btn-outline-nexus[disabled]:focus,
fieldset[disabled] .btn-outline-nexus:focus,
.btn-outline-nexus.disabled:active,
.btn-outline-nexus[disabled]:active,
fieldset[disabled] .btn-outline-nexus:active,
.btn-outline-nexus.disabled.active,
.btn-outline-nexus[disabled].active,
fieldset[disabled] .btn-outline-nexus.active {
    background-color: #fff;
    border-color: #B4762C;
}

.btn-outline-nexus .badge {
    color: #fff;
    background-color: #D98F40;
}

/* ===================== Games */

.card-page .game-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 25px;
    row-gap: 25px;
    padding: 0px;
}

.game-section .game-card {
    display: grid;
    grid-template-rows: auto 0px 1fr;
    overflow: hidden;
    height: auto;
    border-radius: 10px;
}

.game-section .game-card:hover {
    /* -webkit-filter: drop-shadow(0px 0px 10px #5170AF);
    filter: drop-shadow(0px 0px 10px #5170AF); */
    box-shadow: 0 0 0px 2px #000000, 0 0px 2px 2px #ffffff, 0 4px 12px 6px #5170AF, 0 2px 6px 2px #5170AF;
}

.game-card .game-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0px;
}

.game-card .game-title {
    color: white;
    background: #202020;
    width: 100%;
    height: 100%;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 12px;
}

.game-card .game-title span {
    width: 80%;
}

.game-abc {
    width: 80%;
    margin: 50px 0px;
}

.game-abc span {
    text-decoration: underline;
    margin: 5px;
}

.game-abc a {
    text-decoration: none;
    color: #ffffff;
}

.game-abc span:hover,
.game-abc a:hover {
    cursor: pointer;
    color: #5170AF;
}

.game-abc a:visited {
    color: #cccccc;
}

.game-abc ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 5%;
    row-gap: 10%;
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}

.game-abc ul li {
    list-style-type: none;
    text-align: left;
    width: 100%;
}

/* ===================== ModList Page (all user-made modlists) */

.modlistpage .card-page {
    position: relative;
    width: 100%;
    top: -40px;
}

.modlistpage .card-page .modlist-header {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px #202020, 0 0 0.5em #202020, 0 0 1em #202020;
}

.modlist-header .modlist-detail-background {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modlist-detail-background img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(4px);
    z-index: 0;
}

.modlistpage .card-page .modlist-detail {
    width: 100%;
    text-align: left;
    position: relative;
    padding: 30px;
    backdrop-filter: blur(0px);
    z-index: 1;
    background: rgba(32, 32, 32, 0.3);
    border-radius: 10px;
}

.modlistpage .modlist-detail .modlist-detail-title {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 60px 0 10px;
}

.modlistpage .modlist-detail-title h1 {
    margin: 0;
    position: relative;
    top: -5px;
}

.modlistpage .modlist-detail h5 {
    margin: 0;
}

.modlistpage .modlist-detail-title .modlist-credits {
    display: block;
    text-align: right;
}

.modlistpage .card-page .modlist-card {
    display: grid;
    width: 100%;
    margin: 0;
    text-align: left;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    background-color: #202020;
    border-radius: 20px;
    overflow: hidden;
}

.modlistpage .modlist-card .btn {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.modlistpage .modlist-card .mod-img,
.modlistpage .modlist-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modlistpage .modlist-card .mod-info-and-buttons {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 100%;
    min-height: 80%;
    padding: 20px;
}

.modlistpage .modlist-card .mod-info-and-buttons,
.modlistpage .modlist-card .mod-info-and-buttons a,
.modlistpage .modlist-card .mod-info-and-buttons p {
    width: 100%;
}

.modlistpage .mod-buttons {
    --grid-layout-gap: 10px;
    --grid-column-count: 2;
    --grid-item--min-width: 170px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    column-gap: var(--grid-layout-gap);
    row-gap: 8px;
    align-items: center;
    align-self: end;
}

.modlistpage .mod-buttons .buttons-subset {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    column-gap: var(--grid-layout-gap);
    row-gap: 8px;
    height: 100%;
}

.modlistpage .mod-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 1172px) and (min-width: 768.1px) {
    .modlistpage .card-page .modlist-card {
        display: grid;
        width: 100%;
        margin: 15px 0;
        text-align: left;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        background-color: #202020;
        border-radius: 20px;
        overflow: hidden;
    }

    .modlistpage .modlist-card .mod-img,
    .modlistpage .modlist-card img {
        max-height: 500px;
    }
}

@media (max-width: 768px) {
    .modlistpage .card-page .modlist-card {
        grid-template-columns: 1fr;
    }

    .modlistpage .modlist-card .mod-image,
    .modlistpage .modlist-card img {
        max-height: 350px;
    }
}

/* ============================== ModList Page (Nexus-tracked modlist) */

.tracked-mod-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.tracked-mod-tabs .tab {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    outline: 4px solid #202020;
    outline-offset: -4px;
    padding: 10px 15px 30px;
}

.tracked-mod-tabs .tab h4,
.tracked-mod-tabs .tab h5 {
    margin: 8px 0 5px;
}

.tracked-mod-tabs .selected-tab {
    background-color: #202020;
}

.tracked-mod-tabs .unselected-tab {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #202020, #101010);
}

.tracked-mods-container {
    display: grid;
    row-gap: 20px;
    padding: 15px;
    background-color: #202020;
    border-radius: 20px;
}

.modlist-mods-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
}

.tracked-mods-container {
    position: relative;
    bottom: 15px;
    margin-bottom: -15px;
}

.modlist-mod,
.tracked-mod {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 10px;
    overflow: hidden;
}

.modlist-mod .mod-info,
.tracked-mod .mod-info {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.modlist-mod .mod-info p,
.tracked-mod .mod-info p {
    margin: 0px;
}

.modlist-mod .mod-info-and-buttons,
.tracked-mod .mod-info-and-buttons {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #151515;
}

/* .modlist-mod .buttons,
.tracked-mod .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(153px, 1fr));
    column-gap: 10px;
    row-gap: 5px;
    width: auto;
} */

.modlistpage .modlist-mod .mod-info-and-buttons .mod-buttons,
.modlistpage .tracked-mod .mod-info-and-buttons .mod-buttons {
    --grid-item--min-width: 153px;
}

.tracked-mod button,
.tracked-mod a {
    width: 100%;
    height: 100%;
}

.tracked-mod .mod-image,
.tracked-mod img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tracked-mod .img {
    width: 100%;
    height: 100%;
    /* width: 150px; */
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.tracked-mod .img svg {
    opacity: 20%;
    max-width: 80%;
    max-height: 80%;
}

.modlist-card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modlist-card .img svg {
    opacity: 20%;
    max-width: 80%;
    max-height: 80%;
}

.modlist-card .nsfw,
.tracked-mod .nsfw {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modlist-card .nsfw img,
.tracked-mod .nsfw img {
    filter: blur(8px);
}

@media (max-width: 768px) {

    .tracked-mod {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .tracked-mod .buttons {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
        width: auto;
    }

    .modlistpage .tracked-mod .mod-info-and-buttons .mod-buttons {
        --grid-item--min-width: 270px;
    }
}

/* ===================== Modlist Pagination - page selector widget */

.page-selector {
    display: block;
    margin: 0;
}

.page-selector span {
    display: block;
    width: 100%;
    text-align: center;
    color: #21252A;
}

.page-selector span.pages,
.page-selector .pagination-section span.ellipsis {
    color: #ffffff;
}

.page-selector .pagination {
    width: fit-content;
    margin: 5px auto;
    border-radius: 20px;
    overflow: hidden;
}

.pagination-section {
    width: 45px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #202020 0%, #333333 30%, #202020);
    outline: 4px solid #151515;
    outline-offset: -2px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.pagination div {
    background-color: #252525;
    background-image: unset;
    width: fit-content;
    height: inherit;
    padding: 8px;
}

.pagination .page-num svg {
    width: 1.2em;
    min-width: 20px;
    aspect-ratio: 1/1;
    fill: #ffffff;
}

.pagination .pagination-section.page-num.current {
    background-image: linear-gradient(to bottom, #333333 0%, #151515 40%, #333333);
    color: #5170AF;
}

.pagination .pagination-section.page-num:hover {
    color: #ffffff;
    fill: #ffffff;
    background-image: linear-gradient(to bottom, #000e29 0%, #5170AF 30%, #000e29);
}

.pagination .page-num:visited {
    color: #ffffff;
    fill: #ffffff;
}

/* ===================== Modlist Query Spec Dropdown */

.modlistpage .page-settings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.modlistpage .page-settings .page-settings-left {
    text-align: center;
    justify-self: start;
    flex: 1 1 45%;
    padding-left: 15px;
    padding-right: 15px;
}

.modlistpage .page-settings .listview-detail-dropdowns {
    display: flex;
    gap: 15px;
    justify-self: end;
    height: fit-content;
    min-width: 420px;
    flex: 1 1 45%;
}

.page-settings .listview-detail-dropdowns .order-dropdown,
.page-settings .listview-detail-dropdowns .per-page-dropdown {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: fit-content;
    width: 100%;
}

.listview-detail-dropdowns button.dropbtn {
    display: inline-block;
    width: 100%;
    min-width: 150px;
    /* max-width: 225px; */
    height: fit-content;
    min-height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #202020 0%, #333333 30%, #202020);
    background-color: #151515;
    border: solid 1.5px;
    border-color: transparent;
    color: #ffffff;
    font-weight: normal;
    border-radius: 8px;
    cursor: pointer;
}

.listview-detail-dropdowns svg {
    width: 1.2em;
    min-width: 20px;
    aspect-ratio: 1/1;
    fill: #ffffff;
    position: relative;
    bottom: 2px;
}

/* Dropdown Content (Hidden by Default) */
.listview-detail-dropdowns .dropdown-content {
    display: none;
    position: absolute;
    float: inline-end;
    background-color: #303030;
    min-width: min-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    top: auto;
    right: 8px;
}

/* navbar shadow on dropdown list */
.dropdown-content::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

/* Show the dropdown menu when the button is focused */
.order-dropdown:focus-within .dropdown-content,
.per-page-dropdown:focus-within .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button hovered over */
.order-dropdown .dropbtn:hover,
.per-page-dropdown .dropbtn:hover {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #000e29 0%, #5170AF 30%, #000e29);
    border-color: #5170AF;
}

.order-dropdown:hover svg,
.per-page-dropdown:hover svg {
    fill: #ffffff;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.order-dropdown:focus-within .dropbtn,
.per-page-dropdown:focus-within .dropbtn {
    background-image: linear-gradient(to bottom, #333333 0%, #151515 40%, #333333);
    border-color: #5170AF;
    color: #5170AF;
    /* border-bottom-right-radius: 0px; */
}

.order-dropdown:focus-within svg,
.per-page-dropdown:focus-within svg {
    fill: #5170AF;
}

/* ===================== Mod Cards (Game Page) */

.card-page .mod-cat-section {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px 0px;
    padding: 0px;
}

.mod-cat-section ul {
    padding: 0px;
}

.mod-cat-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mod-cat-heading .section-title {
    margin: 0;
}

.mod-cat-section .section-title {
    margin-bottom: 0px;
    margin-right: 15px;
    display: inline-block;
    max-width: fit-content;
}

.mod-cat-section .mod-card {
    display: grid;
    grid-template-rows: auto 0px 1fr;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}

.mod-cat-section .mod-card:hover {
    /* -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.4)); */
    box-shadow: 0 0 0px 2px #000000, 0 0px 2px 2px #ffffff, 0 4px 12px 6px #5170AF, 0 2px 6px 2px #5170AF;
}

.mod-card .mod-img img {
    width: 100%;
    aspect-ratio: 16/9;
    z-index: 2;
    object-fit: cover;
    background-color: #333333;
}

.mod-card .mod-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #303030;
}

.mod-card .mod-img svg {
    width: 35%;
    opacity: 20%;
}

.mod-card .nsfw img {
    filter: blur(8px);
}

.mod-card .mod-title {
    color: white;
    background: #202020;
    width: 100%;
    height: 100%;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
}

.mod-card .mod-title span {
    width: 80%;
    padding-top: 8px;
    padding-bottom: 12px;
}

/* ============================== Add Mod Page */

.add-page {
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 20px;
    background-color: #202020;
    color: #ffffff;
    border-radius: 25px;
}

.form-page .add-page .modpage {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    min-width: 30%;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .form-page .add-page .modpage {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 30px;
    }

    .add-page .modpage .mod-detail h5 {
        display: none;
    }
}

.add-page .modpage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form-page .add-page .modpage .img {
    grid-area: unset;
}

.add-page .modpage .mod-detail {
    margin: auto 0;
}

.add-page .modpage .mod-detail h4,
.add-page .modpage .mod-detail h6 {
    margin-bottom: 20px;
}

.add-page .mod-detail .already-in ul {
    display: list-item;
    margin-top: 5px;
    list-style-type: none;
}

.add-page .mod-detail .already-in svg {
    margin-right: 10px;
}

/* clear unused bootstrap settings */
.form-switch,
.form-check {
    padding-left: unset;
    min-height: unset;
    display: unset;
    margin-bottom: unset;
}

form .form-check.form-switch {
    /* container holding custom form toggle switch and label */
    --toggle-top-bottom-padding: 0.8rem;
    display: flex;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
    align-items: center;
    height: min-content;
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

form .form-check .form-check-container {
    /* div actually holding toggle switch */
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 75px;
    background-color: #202020;
    padding: var(--toggle-top-bottom-padding) 1rem;
    align-content: center;
    border-right: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.add-page form .form-check .form-check-container {
    /* div actually holding toggle switch on add mod page */
    background-color: #151515;
}

form .form-switch .form-check-input {
    /* the toggle switch element */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    z-index: 2;
    height: 1.3rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.form-check span {
    width: 100%;
    height: 100%;
}

.form-check span label,
.form-check span.toggle-label {
    /* label text for toggle switch */
    position: relative;
    z-index: 3;
    width: 100%;
    padding: var(--toggle-top-bottom-padding) 0;
    padding-left: 85px;
    background-color: transparent;
    color: #151515;
    font-weight: 600;
    cursor: pointer;
}

.add-page form {
    min-width: 380px;
}

.add-page form h4 {
    margin-bottom: 5px;
}

.add-page form h6 {
    margin-bottom: 15px;
}

.add-page .mod-detail .already-in {
    max-width: 400px;
}

/* ============================== Mod Page */

.card-page .modpage {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "main-left main-right"
        "hr hr"
        "middle-text middle-text"
        "btns-left btns-right";
    gap: 20px;
    text-align: left;
    padding: 20px;
    background-color: #202020;
    border-radius: 25px;
}

.modpage .hr {
    grid-area: hr;
    width: 100%;
    position: relative;
    bottom: 20px;
    margin-bottom: -20px;
}

.modpage .middle-text {
    margin: 0 auto;
    grid-area: middle-text;
    text-align: center;
    width: 70%;
}

.modpage .middle-text h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

.modpage .modpage-buttons {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 100%;
    height: fit-content;
}

.btns1 {
    grid-area: btns-left;
}

.btns2 {
    grid-area: btns-right;
}

.modpage img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 10px;
}

.modpage .img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main-right;
}

.modpage .img svg {
    opacity: 20%;
    width: 30%;
}

.modpage .nsfw {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 10px;
}

.nsfw img {
    filter: blur(15px);
}

.nsfw span {
    position: relative;
    bottom: 15px;
    left: 15px;
    cursor: default;
}

.modpage .mod-detail {
    width: 100%;
    height: auto;
    display: inline-block;
}

.card-page .modpage .mod-detail {
    grid-area: main-left;
}

.modpage .mod-detail svg {
    width: 1em;
    min-width: 20px;
    aspect-ratio: 1/1;
    position: relative;
    bottom: 1px;
    margin-right: 5px;
}

.mod-detail ul {
    padding: 0px;
    margin: 0px;
}

.mod-detail li {
    display: block;
    width: fit-content;
    margin: 5px;
}

.mod-detail button {
    margin-bottom: 5px;
    width: 100%;
    white-space: normal;
}

@media (max-width: 900px) and (min-width: 768.1px) {
    .card-page .modpage {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main-right"
            "main-left"
            "middle-text"
            "btns-left"
            "btns-right";
        gap: 20px;
        text-align: left;
        padding: 20px;
        background-color: #202020;
        border-radius: 25px;
    }
}

@media (max-width: 768px) {
    .modpage .modpage-buttons {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        width: 100%;
    }
}

/* ============================== Signed in Home */

.card-page {
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
}

/* ============================ Signed out home */

.home-unauth {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 0;
    color: #fff;
    text-align: center;
    padding: 1rem;
    cursor: default;
}

.home-unauth .btn {
    position: relative;
    z-index: 2;
    width: 150px;
    cursor: pointer;
    text-shadow: none;
}

.home-unauth h1 {
    margin-bottom: 2rem;
}

.home-unauth h4 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.home-unauth ul {
    margin-bottom: 1.5rem;
    text-align: justify;
    max-width: 550px;
}

.home-unauth ul>a {
    color: #5170AF;
    cursor: pointer;
}

/* ========================== Signup/Login */

#user_form input.form-control,
#user_form textarea.form-control {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
}

/* ================================ Loading screen */

#loading-container {
    height: 100vh;
    width: 100vw;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: rgba(20, 20, 20, 0.95);
    justify-content: center;
    align-items: center;
}

#loading-container span {
    line-height: 1.5em;
    font-size: larger;
}

#loading-container .loading-contents {
    height: fit-content;
    width: 50vw;
    position: relative;
    display: grid;
    gap: 25px;
    justify-content: inherit;
    align-items: inherit;
    text-align: center;
}

#loading-container .loading-contents .loading-icon {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#loading-container .loading-contents .loading-icon .loading-folder {
    z-index: 12;
    display: flex;
    position: relative;
    left: 3px;
    height: 120px;
    width: auto;
}

#loading-container .loading-contents .loading-icon .loading-gear {
    z-index: 13;
    display: flex;
    position: absolute;
    height: 70px;
    width: auto;
    top: 32px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) and (min-width: 768.1px) {
    #loading-container .loading-contents {
        width: 65vw;
    }
}

@media (max-width: 768px) {
    #loading-container .loading-contents {
        width: 80vw;
    }
}

/* ================================ 404 page */

.error-page {
    color: #ffffff;
    text-align: center;
}

.error-page .error {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.error-page .error svg {
    height: 100px;
    width: 100px;
    fill: #C01212;
}

.error-page h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.error-page h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.error-page p {
    margin-bottom: 20px;
}

.error-page .button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 30px;
    max-width: 430px;
    margin: 15px auto;
}

.error-page .error-btn {
    margin: 10px auto;
    width: 200px;
    color: #ffffff;
}

.error-page .error-btn svg {
    width: 1.2em;
    min-width: 20px;
    aspect-ratio: 1/1;
    fill: #ffffff;
}

.message-404 {
    margin-top: 2em;
}

.message-404 a {
    color: white;
}

.message-404>h4.display-4 {
    font-size: 2.5em;
}

.message-404 .form-inline input {
    flex: 1;
}