/* ====================== General */

body {
    background-color: #151515;
    width: 100%;
    overflow-x: hidden;
}

body.error-404 {
    background-color: #5170AF;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

/* ======================= Nav */

.navbar {
    background-color: #151515;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.navbar a {
    color: #5170AF;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: #A6BAE2;
}

.navbar li>a {
    color: #66757f;
    font-size: 16px;
    font-weight: bold;
}

.navbar li>a:hover {
    color: #5170AF;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 10px;
    width: 30px;
    border-radius: 2px;
}

.nav>li>a>img {
    width: 32px;
    border-radius: 32px;
}

ul.nav.navbar-nav {
    align-items: center;
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}

nav form.navbar-form {
    display: flex;
    position: relative;
}

.onboarding .navbar-header {
    margin: 0 auto;
}

.onboarding .navbar-brand {
    margin: 0;
}

.onboarding>.navbar-brand>a {
    color: #5170AF;
}

.onboarding .nav.navbar-nav.navbar-right {
    position: absolute;
    right: 16px;
}

.onboarding>.navbar form.navbar-form {
    display: none;
}

.onboarding {
    background-color: #252526;
    color: #fff;
}

@media (max-width: 468px) {
    nav form.navbar-form {
        display: none;
    }
}

nav+.container {
    margin-bottom: 1rem;
}

.join-message {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #fff;
}

/* ===================== User profile */

/* ===================== Nexus Related */

.nexus-btn-container {
    position: relative;
    top: -35px;
    right: 0px;
}

.nexus-btn-link {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: 3px;
}

.nexus-btn-link img {
    width: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0px;
}

/* ===================== Games */

.home .game-section {
    width: 80vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.game-section .game-card {
    display: inline-block;
    overflow: hidden;
    height: auto;
    width: 180px;
    border-radius: 10px;
    margin: 10px;
}

.game-card .game-img,
.game-card img {
    width: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0px;
}

.game-card .game-title {
    color: white;
    background: rgb(32, 32, 32);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card .game-title span {
    width: 80%;
}

.game-abc {
    width: 80%;
    margin: 50px 0px;
}

.game-abc span {
    text-decoration: underline;
    margin: 5px;
}

.game-abc a {
    text-decoration: none;
    color: #ffffff;
}

.game-abc span:hover,
.game-abc a:hover {
    cursor: pointer;
    color: #5170AF;
}

.game-abc a:visited {
    color: #aaaaaa;
}

.game-abc ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 5%;
    row-gap: 10%;
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}

.game-abc ul li {
    list-style-type: none;
    text-align: left;
    width: 100%;
}

/* ============================== Signed in Home */

.home {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    left: 0;
    z-index: -1;
    color: #fff;
    text-align: center;
    padding: 1rem;
    cursor: default;
}

/* ============================ Signed out home */

.home-unauth {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
    color: #fff;
    text-align: center;
    padding: 1rem;
    cursor: default;
    text-shadow: 0 0 8px #66757f;
}

.home-unauth .btn {
    position: relative;
    z-index: 1;
    width: 150px;
    box-shadow: 0 0 8px #66757f;
    cursor: pointer;
    text-shadow: none;
}

.home-unauth h1 {
    margin-bottom: 2rem;
}

.home-unauth h4 {
    margin-bottom: 4rem;
}

.home-unauth ul {
    margin-bottom: 1.5rem;
    text-align: justify;
    max-width: 550px;
}

.home-unauth ul>a {
    color: #5170AF;
    cursor: pointer;
}

/* ========================== Signup/Login */

#user_form input.form-control,
#user_form textarea.form-control {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
}

/* ================================ 404 page */

.message-404 {
    color: white;
    margin-top: 2em;
    text-align: center;
}

.message-404 a {
    color: white;
}

.message-404>h4.display-4 {
    font-size: 2.5em;
}

.message-404 .form-inline input {
    flex: 1;
}