{% extends 'base.html' %}

{% block title %}{{ game.name }}{% endblock %}

{% block content %}

<div class="card-page">
  <h1>{{ game.name }}</h1>

  {% for cat in mod_categories %}
  <div class="mod-cat-heading">
    <h3 class="section-title">{{ cat.section_title }}</h3>
    <a class="section-nexus-btn" href="https://www.nexusmods.com/{{ game.domain_name }}/mods/{{ cat.mod_cat }}"
      target="_blank">
      <button type="button" class="btn btn-primary">Open Nexus to See All {{ cat.section_title }}</button>
    </a>
  </div>

  <ul class="mod-cat-section">
    {% if cat.error %}
    <li class="game-card" style="width: 40%; background-color: #404040;">
      <div class="game-img" style="width: 100%; height: 100px; padding: 10px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/ErrorMessage.png" alt="{{ game.name }} error"
          style="height: 80px; width: auto;">
      </div>
      <div class="game-title" style="width: 100%;">
        <span>
          <h5>Error occurred retrieving {{ cat.section_title }}.<br>Please refresh to reattempt.</h5>
        </span>
      </div>
    </li>

    {% else %}
    {% for mod in cat.data %}
    <li class="mod-card">

      {% if mod.is_nsfw and hide_nsfw == True %}
      <a class="mod-img nsfw" href="{{ url_for('show_mod_page', game_domain_name=game.domain_name, mod_id=mod.id) }}">
        <img src="{{ mod.picture_url }}" alt="{{ mod.name }} cover image">
      </a>
      <div class="nexus-btn-container">
        <span title="NSFW visibility can be changed in user settings">NSFW</span>
        <a href="https://www.nexusmods.com/{{ game.domain_name }}/mods/{{ mod.id }}" target="_blank">
          <button class="nexus-btn" title="Open {{ mod.name }} on Nexus to search all mods.">
            <img
              src="https://raw.githubusercontent.com/github/explore/781dbc058383a2ee8259ebbab057292f16172d5e/topics/nexus-mods/nexus-mods.png">
          </button>
        </a>
      </div>
      {% else %}
      <a class="mod-img" href="{{ url_for('show_mod_page', game_domain_name=game.domain_name, mod_id=mod.id) }}">
        <img src="{{ mod.picture_url }}" alt="{{ mod.name }} cover image">
      </a>
      <div class="nexus-btn-container">
        <a href="https://www.nexusmods.com/{{ game.domain_name }}/mods/{{ mod.id }}" target="_blank">
          <button class="nexus-btn" title="Open {{ mod.name }} on Nexus to search all mods.">
            <img
              src="https://raw.githubusercontent.com/github/explore/781dbc058383a2ee8259ebbab057292f16172d5e/topics/nexus-mods/nexus-mods.png">
          </button>
        </a>
      </div>
      {% endif %}

      <a class="mod-title" href="{{ url_for('show_mod_page', game_domain_name=game.domain_name, mod_id=mod.id) }}">
        <span>{{ mod.name }}</span>
      </a>
    </li>
    {% endfor %}
    {% endif %}

  </ul>
  {% endfor %}

</div>
<!-- <div class="grid-container">
  <div class="grid-item">
    <div class="top-element">Top Content</div>
    <div class="bottom-element">Dynamic Content 1</div>
  </div>
  <div class="grid-item">
    <div class="top-element">Top Content</div>
    <div class="bottom-element">Dynamic Content 2 with different height</div>
  </div>

</div> -->

{% endblock %}