{% extends 'base.html' %}

{% block title %}{{ mod.name }}{% endblock %}

{% block content %}

<div class="card-page">
    <div class="modpage">
        <div class="mod-detail">
            <h3 style="margin-bottom: 20px;">{{ mod.name }}</h3>
            <h5 style="margin-bottom: 10px;">{{ mod.summary }}</h5>
            <ul>
                <li>Version: {{ mod.version }}</li>
                {% if mod.last_updated %}
                <li>Last Updated: {{ mod.last_updated }}</li>
                {% endif %}
                <li>Endorsements: {{ mod.endorsement_count }}</li>
                <li>Mod Author: {{ mod.author_name }}</li>
                <li>Author's Nexus Profile: <a href="{{ mod.author_url }}">{{ mod.author_handle }}</a></li>
            </ul>
        </div>

        {% if mod.is_nsfw and g.user.hide_nsfw == True %}
        <div class="nsfw">
            <img src="{{ mod.picture_url }}" alt="{{ mod.name }} title image"
                title="NSFW visibility can be changed in user settings">
            <span>NSFW Mod</span>
        </div>
        {% else %}
        <img src="{{ mod.picture_url }}" alt="{{ mod.name }} title image" title="{{ mod.name }} title image">
        {% endif %}

        <div class="modpage-buttons">
            <a id="to-nxs-mod" href="{{ url_for('modlist_add_mod', user_id=g.user.id, mod_id=mod.id) }}">
                <button class="btn btn-primary">Add {{ mod.name }} to ModList</button>
            </a>

        </div>

        <div class="modpage-buttons">
            <a id="to-nxs-mod" href="https://www.nexusmods.com/{{ game.domain_name }}/mods/{{ mod.id }}"
                target="_blank">
                <button class="btn btn-outline-nexus">Open {{ mod.name }} page on Nexus</button>
            </a>

            {% if mod.user_endorsed == "Endorsed" %}
            <button class="un-endorse btn btn-outline-danger">Un-Endorse {{ mod.name }} on Nexus</button>
            {% else %}
            <button class="do-endorse btn btn-outline-success">Endorse {{ mod.name }} on Nexus</button>
            {% endif %}
        </div>
    </div>




</div>

{% endblock %}