<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/modlist-favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/images/modlist-icon.png" alt="logo">
          <span>ModList</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if not g.user %}{# display navbar w/ signup & login links #}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}{# display navbar w/ username & user links dropdown #}
        <li>
          <div class="dropdown">
            <button class="dropbtn">
              <span>{{ g.user.username }} &ensp;</span>
              <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
              </svg>
            </button>
            <div class="dropdown-content">
              <a href="{{ url_for('show_user_page', user_id=g.user.id) }}">Profile</a>
              <hr>
              <a href="{{ url_for('show_tracked_modlist_page', tab='tracked-mods') }}">Nexus Tracked Mods</a>
              <hr>
              <a href="{{ url_for('new_modlist', user_id=g.user.id) }}">Create New Modlist</a>
              <hr>
              <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
              <hr>
              <a href="{{ url_for('logout') }}">Log out</a>
            </div>
          </div>
        </li>
        {% endif %}{# ends 'if not g.user' #}
      </ul>
    </div>
  </nav>

  <div class="content-container"> <!-- main body content populated by jinja -->
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>

</body>

</html>