{% extends 'base.html' %}
{% block content %}
<div class="home-unauth">
  <h1>New to ModList?</h1>
  <ul>
    <li>
      <h5>Do you get your mods from Nexus? If not, sign up for an account on <a href="https://www.nexusmods.com/">Nexus
          Mods</a>.</h5>
    </li>
    <li>
      <h5>Wish you could use non&#x2011;downloaded mods in your Nexus Collections?</h5>
    </li>
    <li>
      <h5>Wish you could organize mods in Nexus Tracking for easy access to tracked mod pages?</h5>
    </li>
    <li>
      <h5>Wish you could quickly bookmark interesting mods to save for later as you browse?</h5>
    </li>
  </ul>
  <h4>Sign up now to start saving mods to your own custom lists!</h4>
  <a href="/signup" class="btn btn-lg btn-primary">Sign up</a>
</div>
{% endblock %}