{% extends 'base.html' %}

{% block title %}Games{% endblock %}
{% block script %}
<script type="application/json" id="games-data">{{ games_list | tojson }}</script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}

<div class="card-page">
  <h1>Popular Games on Nexus</h1>
  <ul class="game-section">
    {% for game in games_list[:10] %}

    {% if game.name == "Error" %}{# handle game data retrieval error #}
    <li class="game-card" style="width: 40%; background-color: #404040;">
      <div class="game-img" style="width: 100%; height: 100px; padding: 10px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/ErrorMessage.png" alt="{{ game.name }} error"
          style="height: 80px; width: auto;">
      </div>
      <div class="game-title" style="width: 100%;">
        <span>
          <h5>
            Error occurred retrieving games.<br>
            Please refresh.<br>
            If problem persists, try logging out and back in.
          </h5>
        </span>
      </div>
    </li>

    {% else %}{# handle game data retrieval success #}
    <li class="game-card">
      <a class="game-img" href="{{ url_for('show_game_page', game_domain_name=game.domain_name) }}"
        style="background-image: url(https://staticdelivery.nexusmods.com/Images/games/4_3/tile_{{game.id}}.jpg);"
        alt="{{ game.name }} cover image" title="Open {{game.name}} page on ModList">
      </a>
      <a class="nexus-btn-container" href="https://www.nexusmods.com/{{ game.domain_name }}" target="_blank"
        rel="noopener noreferrer" title="Open {{ game.name }} on Nexus to search all mods in a new tab.">
        <img class="nexus-btn"
          src="https://raw.githubusercontent.com/github/explore/781dbc058383a2ee8259ebbab057292f16172d5e/topics/nexus-mods/nexus-mods.png">
      </a>
      <a class="game-title" href="{{ url_for('show_game_page', game_domain_name=game.domain_name) }}"
        title="Open {{game.name}} page on ModList">
        <span>{{ game.name }}</span>
      </a>
    </li>
    {% endif %}{# ends 'if game.name == Error' #}

    {% endfor %}
  </ul>

  <button id="load-more" class="btn btn-outline-primary load-more-btn">See More Popular Games</button>

  <h2>Search Games by Title</h2>
  <div class="game-abc">
    <div class="alphabet-menu">
      {% for ltr in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
      'U', 'V', 'W', 'X', 'Y', 'Z'] %}
      <span class="alphabet-letter" data-letter="{{ ltr }}">{{ ltr }}</span>
      {% endfor %}
      <span class="alphabet-letter" data-letter="#">#</span>
    </div>
    <ul class="game-list" style="display: none;"></ul>
  </div>

</div>

{% endblock %}