{% extends 'base.html' %}

{% block title %}Modlist{% endblock %}
{% block body_class %}onboarding{% endblock %}

{% block content %}
<div class="home-unauth">
  <h1>New to ModList?</h1>
  <ul>
    <li>
      <h5>Do you get your mods from Nexus? If not, sign up for an account on <a
          href="https://users.nexusmods.com/register">Nexus
          Mods</a>.</h5>
      <h6 class="text-center">
        *<span class="text-decoration-underline">Note</span>
        : an active Nexus account is necessary
        <br>
        for this site to function*
      </h6>
    </li>
    <li>
      <h>Wish Nexus Collections would let you sort and store non&#x2011;downloaded mods?</h5>
    </li>
    <li>
      <h5>Wish you could organize mods in Nexus Tracking for easy access to tracked mod pages?</h5>
    </li>
    <li>
      <h5>Wish you could quickly bookmark interesting mods to save for later as you browse?</h5>
    </li>
  </ul>
  <h4>Sign up now to start saving mods to your own custom lists!</h4>
  <a href="/signup" class="btn btn-lg btn-primary">Sign up</a>
</div>
{% endblock %}