{% extends 'base.html' %}

{% block title %}{{ form_title }}{% endblock %}


{% block content %}

<div class="form-page">
  {% if user %}{# #}
  <h2 class="form-header">Edit {{ user.username }}'s Profile:</h2>
  {% else %}{# right hand buttons for edit modlist page #}
  <h2 class="form-header">Edit Modlist '{{ modlist.name }}':</h2>
  {% endif %}{# end if user #}

  <form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'current_password' %}

    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}

    {% if field.widget.input_type == 'checkbox' %}{# handle custom toggle switch formatting #}
    <div class="form-check form-switch">
      <div class="form-check-container">
        {{ field(checked=False, class="form-check-input", type="checkbox",
        role="switch", id="flexSwitchCheck") }}
      </div>
      <span>
        <label for="flexSwitchCheck">
          {{ field.label.text }}
          <br>
          <span style="font-size: 0.8rem;">
            {{ field.description }}
          </span>
        </label>
      </span>
    </div>
    {% else %}{# handle regular, non-toggle switch fields #}
    <h6>{{ field.label.text }}</h6>
    {{ field(placeholder=field.label.text, class="form-control") }}
    {% endif %}

    {% endfor %}{# ends 'for field in form' #}

    {% if form.current_password %}
    <br>
    <h6>{{ form.current_password.label.text }}</h6>
    {% if form.current_password.errors %}
    {% for error in form.current_password.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {% endif %}
    {{ form.current_password(placeholder=form.current_password.description, class="form-control") }}
    {% endif %}
  </form>

  <div class="split-container">
    <div>
      <button type="submit" form="user_form" class="btn btn-success">
        Save Changes
      </button>
      <a href="#" class="btn btn-outline-secondary"
        onclick="if (document.referrer) { window.history.back(); } else { window.location.href = `{{ url_for('show_user_page', user_id=g.user.id) }}`; } return false;">
        Cancel
      </a>
    </div>
    <div>
      {% if user %}{# right hand buttons for edit user #}
      {% if form.current_password %}{# main edit-profile page (not edit-password page) #}
      <a href="{{ url_for('edit_password') }}" class="btn btn-outline-primary">
        Edit Password
      </a>
      <!-- <a href="" class="btn btn-outline-danger">
          Delete User Account
        </a> -->
      {% endif %}{# ends 'if form.current_password' #}
      {% else %}{# right hand buttons for edit modlist page #}
      <form method="POST" action="{{ url_for('delete_modlist', user_id=g.user.id, modlist_id=modlist.id) }}"
        onsubmit="return confirm(`Are you sure you want to delete your modlist:\n    '{{ modlist.name }}'?`);">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button title="Click here to delete {{modlist.name}} from your modlists." class="btn btn-outline-danger">
          Delete Modlist
        </button>
      </form>
      {% endif %}{# end if user #}
    </div>
  </div>
</div>

{% endblock %}