{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="form-header text-center">Welcome back.</h2>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}
      <input type="hidden" value="{{ request.args.get('next', '') }}" />

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {% if field.label.text == 'Nexus Personal API Key' %}
      <h6>
        <a href="https://next.nexusmods.com/settings/api-keys" class="white-link"
          title="Click here to get your Nexus Personal API Key. If logged-in to Nexus, the API key can be found at the bottom of the page this link will open. An active Nexus account's personal API key is required to log in but will not saved to our server for your privacy, so it must be entered every time you log in to ModList."
          target="_blank" rel="noopener noreferrer">
          {{ field.label.text }}
          <svg class="info-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
          </svg>
        </a>
      </h6>
      {% else %}
      <h6>{{ field.label.text }}</h6>
      {% endif %}{# ends 'if field.label.text == Nexus Personal API Key' #}
      {{ field(placeholder=field.description, class="form-control") }}
      {% endfor %}{# ends 'for field in form if field.widget...' #}

      <button class="btn btn-primary btn-lg btn-block w-100" type="submit">
        Log in
      </button>
    </form>
    <h5 class="form-subheader text-center mt-5 w-auto">Don't have a ModList account?</h5>
    <a href="{{ url_for('signup')}}" class="btn btn-outline-primary btn-block w-100">
      Sign Up!
    </a>
  </div>
</div>

{% endblock %}