{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="form-header text-center">Welcome back.</h2>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}
      <input type="hidden" value="{{ request.args.get('next', '') }}" />

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary btn-lg btn-block w-100" type="submit">
        Log in
      </button>
    </form>
    <h5 class="form-subheader text-center mt-5 w-auto">Don't have a ModList account?</h5>
    <a href="{{ url_for('signup')}}">
      <button class="btn btn-outline-primary btn-block w-100">Sign Up!</button>
    </a>
  </div>
</div>

{% endblock %}