{% extends 'base.html' %}

{% block title %}{{ modlist.name }}{% endblock %}

{% block content %}

<div class="modlistpage">
    <div class="card-page">
        <div class="modlist-header">
            {% if modlist.for_games[0] %}{# handle game-assigned modlist header #}
            <div class="modlist-detail-background">
                <img src="https://staticdelivery.nexusmods.com/Images/games/4_3/tile_{{ modlist.for_games[0].id }}.jpg"
                    alt="{{ modlist.name }} game image" title="{{ modlist.name }} game image">
            </div>
            <div class="modlist-detail">
                <div class="modlist-detail-title">
                    <h1>{{ modlist.name }}</h1>
                    <div class="modlist-credits">
                        <h6>For:
                            {% if modlist.for_games[1] %}{# handle modlist w/ multiple games assigned #}
                            {% for game in modlist.for_games %}
                            <a href="{{ url_for('show_game_page', game_domain_name=game.domain_name) }}"
                                title="Go to {{game.name}}'s game page">
                                <br>{{ game.name }}
                            </a>
                            {% endfor %}{# for game in modlist.for_games #}
                            {% else %}{# handle standard single-game-assigned modlists #}
                            <a href="{{ url_for('show_game_page', game_domain_name=modlist.for_games[0].domain_name) }}"
                                title="Go to {{modlist.for_games[0].name}}'s game page">
                                {{ modlist.for_games[0].name }}
                            </a>
                            {% endif %}
                        </h6>
                        <h6>Curated By:
                            <a href="{{ url_for('show_user_page', user_id=user.id) }}"
                                title="Go to {{user.username}}'s user page">
                                {{ user.username }}
                            </a>
                        </h6>
                    </div>
                </div>
                <h5>{{ modlist.description }}</h5>
            </div>
            {% else %}{# handle game-unassigned modlist header #}
            <div class="modlist-detail-background">
                <img src="/static/images/GamesOnNexus_300_16x9.png" alt="{{ modlist.name }} game image"
                    title="{{ modlist.name }} game image">
            </div>
            <div class="modlist-detail">
                <div class="modlist-detail-title">
                    <h1>{{ modlist.name }}</h1>
                    <div class="modlist-credits">
                        {% if modlist.name == 'Nexus Tracked Mods' %}
                        <h6>Imported From:
                            <a href="https://www.nexusmods.com/mods/trackingcentre"
                                title="Open the official Nexus Tracking Centre to manage your tracked mods on Nexus.com">
                                Nexus Tracking Centre
                            </a>
                        </h6>
                        {% else %}
                        <h6>Game: Unassigned</h6>
                        {% endif %} {# ends 'if modlist.name...' #}
                        <h6>For User:
                            <a href="{{ url_for('show_user_page', user_id=user.id) }}">
                                {{ user.username }}
                            </a>
                        </h6>
                    </div>
                </div>
                <h5>{{ modlist.description }}</h5>
            </div>
            {% endif %}{# ends 'if modlist.for_games[0]' #}
        </div>

        {% if modlist.mods %}{# handles display of modlist if it contains mods #}
        {% for mod in modlist.mods %}
        <div class="modlist-card">
            <div style="width: 100%; height: 100%;">
                {% if mod.is_nsfw and hide_nsfw == True %}{# censor nsfw #}
                <div class="nsfw">
                    <img class="mod-img" src="{{ modlist.picture_url }}" alt="{{ modlist.name }} title image"
                        title="NSFW visibility can be changed in user settings">
                    <span>NSFW</span>
                </div>
                {% else %}{# uncensored sfw/user-allowed nsfw #}
                <img class="mod-img" src="{{ mod.picture_url }}" alt="{{ mod.name }} cover image"
                    title="{{ mod.name }} cover image">
                {% endif %}{# ends 'if mod.is_nsfw...' #}
            </div>

            <div class="mod-info">
                <div>
                    <a href="{{ url_for('show_mod_page', game_domain_name=modlist.for_games[0].domain_name, mod_id=mod.id) }}"
                        title="Go to our {{mod.name}} mod page for a summary, endorsing, tracking, or reading or writing your own notes about this mod">
                        <h4>{{ mod.name }}</h4>
                    </a>
                    <p>{{ mod.summary | safe }}</p>
                </div>
                <div class="mod-buttons">
                    <div class="buttons-subset">
                        <a href="{{ url_for('modlist_add_mod', user_id=g.user.id, mod_id=mod.id) }}"
                            title="Add {{mod.name}} to another one of your modlists">
                            <button class="btn btn-outline-primary btn-sm">
                                Add to a ModList
                            </button>
                        </a>
                        <a href="{{ url_for('modlist_delete_mod', user_id=g.user.id, modlist_id=modlist.id, mod_id=mod.id) }}"
                            title="Delete {{mod.name}} from {{modlist.name}}">
                            <button class="btn btn-outline-danger btn-sm">
                                Remove from ModList
                            </button>
                        </a>
                    </div>
                    <div class="buttons-subset">
                        <a href="https://www.nexusmods.com/{{modlist.for_games[0].domain_name}}/mods/{{mod.id}}"
                            title="Open {{mod.name}} in a new tab on Nexus.com to see full details and download files">
                            <button class="btn btn-outline-nexus btn-sm">
                                See on Nexus
                            </button>
                        </a>
                        <a href="https://www.nexusmods.com/{{modlist.for_games[0].domain_name}}/mods/{{mod.id}}?tab=files"
                            target="_blank" title="Open the file download page for this mod in a new tab on Nexus.com">
                            <button class="btn btn-outline-nexus btn-sm">
                                Nexus Downloads Page
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}{# ends 'for mod in modlist.mods' #}
        {% else %}{# handles display of mod area when no mods in modlist #}
        <div class="modlist-card">
            <div class="mod-img">
                <img class="mod-img" src="/static/images/GamesOnNexus_300_3x4.png" alt="Empty ModList cover image"
                    title="Empty ModList cover image">
            </div>

            <div class="mod-info">
                <div>
                    <h4>No Mods added to '{{ modlist.name }}' ModList yet...</h4>
                    <p>The easiest way to find new mods is to search on
                        <a href="https://www.nexusmods.com/" style="color: #D98F40">Nexus.com</a>
                        . While browsing mods, use the 'Tracking' feature on
                        Nexus to easily collect mods. Your 'Nexus Tracked Mods' list here on ModList will automatically
                        import all Tracked mods from Nexus. Then add mods to your various modlists from there.
                    </p>
                    <p>'Tracking' and your 'Tracking Centre' on Nexus is intended to help you keep track of installed
                        mods for update notifications. To make sure you don't accidentally un-track any mods you want to
                        keep in your Tracking Centre, turn on 'Keep Tracked' in your Nexus Tracked Mods list. From that
                        modlist you can also add imported mods to your other modlists, or easily un-track mods you
                        tracked just to import here and don't want in your Tracking Centre.</p>
                </div>
                <div class="mod-buttons"></div>
            </div>
        </div>
        {% endif %}{# ends 'if modlist.mods' #}
    </div>
</div>

{% endblock %}