{% extends 'base.html' %}

{% block title %}New ModList{% endblock %}

{% block content %}

<div class="form-page">
    <h2 class="form-header">Create New ModList:</h2>
    <form method="POST" id="modlist_form" class="form-container">
        {{ form.hidden_tag() }}
        <input type="hidden" value="{{ request.args.get('next', '') }}" />

        {% for field in form if field.widget.input_type != 'hidden' %}

        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}

        {% if field.widget.input_type == 'checkbox' %}{# handle custom toggle switch formatting #}
        <div class="form-check form-switch">
            <div class="form-check-container">
                {{ field(checked=False, class="form-check-input", type="checkbox", role="switch", id="flexSwitchCheck")
                }}
            </div>
            <span>
                <label for="flexSwitchCheck">
                    {{ field.label.text }}
                    <br>
                    <span style="font-size: 0.8rem;">
                        {{ field.description }}
                    </span>
                </label>
            </span>
        </div>
        {% else %}{# handle regular form fields #}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endif %}{# ends 'if field[...] == checkbox' #}

        {% endfor %}{# ends 'for field in form...' #}

        <button class="btn btn-primary btn-lg btn-block">Create</button>
    </form>
</div>

{% endblock %}