{% import 'macros/page-selector.html' as macro_ps %}
{% extends 'base.html' %}

{% block title %}{{ modlist.name }}{% endblock %}

{% block content %}

<div class="modlistpage">
    <div class="card-page">
        <div class="modlist-header">
            {% if modlist.for_games[0] %}{# handle game-assigned modlist header #}
            <div class="modlist-detail-background">
                <img src="https://staticdelivery.nexusmods.com/Images/games/4_3/tile_{{ modlist.for_games[0].id }}.jpg"
                    alt="{{ modlist.name }} game image" title="{{ modlist.name }} game image">
            </div>
            <div class="modlist-detail">
                <div class="modlist-detail-title">
                    <h1>{{ modlist.name }}</h1>
                    <div class="modlist-credits">
                        <h6>For:
                            {% if modlist.for_games[1] %}{# handle modlist w/ multiple games assigned #}
                            {% for game in modlist.for_games %}
                            <a href="{{ url_for('show_game_page', game_domain_name=game.domain_name) }}"
                                title="Go to {{game.name}}'s game page">
                                <br>{{ game.name }}
                            </a>
                            {% endfor %}{# for game in modlist.for_games #}
                            {% else %}{# handle standard single-game-assigned modlists #}
                            <a href="{{ url_for('show_game_page', game_domain_name=modlist.for_games[0].domain_name) }}"
                                title="Go to {{modlist.for_games[0].name}}'s game page">
                                {{ modlist.for_games[0].name }}
                            </a>
                            {% endif %}
                        </h6>
                        <h6>Curated By:
                            <a href="{{ url_for('show_user_page', user_id=user.id) }}"
                                title="Go to {{user.username}}'s user page">
                                {{ user.username }}
                            </a>
                        </h6>
                    </div>
                </div>
                <h5>{{ modlist.description }}</h5>
            </div>
            {% else %}{# handle game-unassigned modlist header #}
            <div class="modlist-detail-background">
                <img src="/static/images/GamesOnNexus_300_16x9.png" alt="{{ modlist.name }} game image"
                    title="{{ modlist.name }} game image">
            </div>
            <div class="modlist-detail">
                <div class="modlist-detail-title">
                    <h1>{{ modlist.name }}</h1>
                    <div class="modlist-credits">
                        <h6>For User:
                            <a href="{{ url_for('show_user_page', user_id=user.id) }}">
                                {{ user.username }}
                            </a>
                        </h6>
                    </div>
                </div>
                <h5>{{ modlist.description }}</h5>
            </div>
            {% endif %}{# ends 'if modlist.for_games[0]' #}
        </div>

        <div class="page-settings">
            <a href=""><button class="btn btn-outline-nexus">Re-Sync Tracked Mods to Nexus</button></a>
            {{ macro_ps.listview_query_spec_dropdowns(request.path, per_page, order) }}
        </div>

        <div class="modlist-mods-container">
            {% if page_mods.items != [] %}
            {% for mod in page_mods %}
            <div class="modlist-card">
                {% if mod.picture_url != 'None' %}
                {% if mod.is_nsfw and g.user.hide_nsfw == True %}{# handle nsfw mod image censorship #}
                <div class="nsfw">
                    <img class="mod-image" src="{{ mod.picture_url }}" alt="{{ mod.name }} title image"
                        title="NSFW visibility can be changed in user settings">
                </div>
                {% else %}{# mod is not nsfw #}
                <img class="mod-image" src="{{ mod.picture_url }}" alt="{{ mod.name }} title image"
                    title="{{ mod.name }} title image">
                {% endif %}{# ends 'if mod.is_nsfw' #}
                {% else %}{# handle missing picture_url #}
                <div class="img">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="256" viewBox="0 0 256 256" xml:space="preserve">
                        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                            transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                            <path
                                d="M 87 19.986 c -1.657 0 -3 1.343 -3 3 v 44.027 c 0 0.999 -0.295 1.924 -0.781 2.72 L 63.005 49.021 c -1.111 -1.137 -2.916 -1.213 -4.116 -0.168 L 45.173 60.779 l -1.383 -1.422 c -1.155 -1.188 -3.054 -1.215 -4.242 -0.059 c -1.188 1.154 -1.214 3.054 -0.06 4.242 l 3.361 3.456 c 1.11 1.142 2.919 1.218 4.12 0.172 l 13.72 -11.93 l 16.619 17.029 H 25.623 c -1.657 0 -3 1.343 -3 3 s 1.343 3 3 3 h 53.122 c 2.188 0 4.226 -0.638 5.955 -1.722 c 0.047 -0.028 0.094 -0.054 0.14 -0.085 C 87.94 74.454 90 70.973 90 67.014 V 22.986 C 90 21.33 88.657 19.986 87 19.986 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(173,173,173); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <path
                                d="M 89.233 5.323 c -1.106 -1.232 -3.004 -1.336 -4.236 -0.23 l -7.401 6.638 H 11.255 C 5.049 11.731 0 16.78 0 22.986 v 44.027 c 0 4.027 2.133 7.557 5.323 9.546 l -4.326 3.88 c -1.233 1.106 -1.336 3.003 -0.23 4.236 c 0.593 0.661 1.412 0.997 2.234 0.997 c 0.713 0 1.429 -0.253 2.002 -0.767 l 84 -75.348 C 90.236 8.453 90.34 6.556 89.233 5.323 z M 11.255 17.731 h 59.652 L 34.802 50.117 l -8.927 -9.179 c -1.124 -1.155 -2.958 -1.217 -4.155 -0.14 L 6 54.923 V 22.986 C 6 20.088 8.357 17.731 11.255 17.731 z M 6 67.014 v -4.025 l 17.584 -15.8 l 6.748 6.938 L 10.223 72.164 C 7.818 71.683 6 69.558 6 67.014 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(173,173,173); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <circle cx="33.167" cy="29.037" r="6.047"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(173,173,173); fill-rule: nonzero; opacity: 1;"
                                transform="  matrix(1 0 0 1 0 0) " />
                        </g>
                    </svg>
                </div>
                {% endif %}{# ends 'if mod.picture_url != None' #}

                <div class="mod-info-and-buttons">
                    <div class="modlist-mod-section mod-info">
                        <a
                            href="{{ url_for('show_mod_page', game_domain_name=mod.for_games[0].domain_name, mod_id=mod.id) }}">
                            <h4>{{ mod.name }}</h4>
                        </a>
                        <p>Author:
                            <a href="https://next.nexusmods.com/profile/{{ mod.uploaded_by }}/mods">
                                {{ mod.uploaded_by }}
                            </a>
                        </p>
                        <p>{{ mod.summary | safe }}</p>
                    </div>

                    <div class="mod-buttons">
                        <div class="buttons-subset">
                            <a href="{{ url_for('modlist_add_mod', user_id=g.user.id, mod_id=mod.id) }}"
                                title="Add {{mod.name}} to one of your modlist">
                                <button class="btn btn-outline-primary btn-sm">Add Mod to ModList</button>
                            </a>
                            <a href="{{ url_for('modlist_delete_mod', user_id=g.user.id, modlist_id=modlist.id, mod_id=mod.id) }}"
                                title="Delete {{mod.name}} from {{modlist.name}}">
                                <button class="btn btn-outline-danger btn-sm">
                                    Remove from ModList
                                </button>
                            </a>
                        </div>
                        <div class="buttons-subset">
                            <a href="https://www.nexusmods.com/{{modlist.for_games[0].domain_name}}/mods/{{mod.id}}"
                                title="Open {{mod.name}} in a new tab on Nexus.com to see full details and download files">
                                <button class="btn btn-outline-nexus btn-sm">
                                    Open on Nexus
                                </button>
                            </a>
                            <a href="https://www.nexusmods.com/{{modlist.for_games[0].domain_name}}/mods/{{mod.id}}?tab=files"
                                target="_blank"
                                title="Open the file download page for this mod in a new tab on Nexus.com">
                                <button class="btn btn-outline-nexus btn-sm">
                                    Nexus Downloads Page
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}{# ends 'for mod in page_mods' #}

            {% else %}{# handle empty page_mods.items #}
            <div class="modlist-card">
                <img class="mod-img" src="/static/images/GamesOnNexus_300_3x4.png" alt="Empty ModList cover image"
                    title="Empty ModList cover image">
                <div class="mod-info-and-buttons">
                    <div class="modlist-mod-section mod-info">
                        <h4 class="mb-2">No mods added to '{{modlist.name}}' modlist yet...</h4>
                        <p class="mb-2">
                            The easiest way to find new mods is to search on
                            <a href="https://www.nexusmods.com/" style="color: #D98F40">Nexus.com</a>
                            . While browsing mods, use the 'Tracking' feature on
                            Nexus to easily collect mods. Your 'Nexus Tracked Mods' modlist will automatically import
                            all
                            Tracked mods from Nexus. Then add mods to your various modlists from there.
                        </p>
                    </div>

                    <div class="buttons">
                        https://www.nexusmods.com/
                    </div>
                </div>
                {% endif %}{# ends 'if page_mods.items == []' #}
            </div>

            {{ macro_ps.page_selector_regular_modlist(user, modlist, page_mods, page, per_page, order) }}
        </div>
    </div>
</div>

{% endblock %}