{% extends 'base.html' %}

{% block title %}Add Mod to ModList{% endblock %}

{% block content %}

<div class="form-page" style="width: 100%; max-width: unset;">
    <h2 class="form-header">Add Mod to ModLists:</h2>

    <div class="add-page">
        <div class="modpage">
            {% if mod.is_nsfw and g.user.hide_nsfw == True %}
            <div class="nsfw">
                <img src="{{ mod.picture_url }}" alt="{{ mod.name }} title image"
                    title="NSFW visibility can be changed in user settings">
                <span>NSFW Mod</span>
            </div>
            {% else %}{# handle non-nsfw censored #}
            <img src="{{ mod.picture_url }}" alt="{{ mod.name }} title image" title="{{ mod.name }} title image">
            {% endif %}{# end 'if mod.is_nsfw...' #}

            <div class="mod-detail">
                <h4>{{ mod.name }}</h4>
                <h5>{{ mod.summary }}</h5>
                <h6">Each selected Modlist will have this mod added to it</h6>
            </div>
        </div>

        <form method="POST" id="modlist_add_form" class="form-container" style="width: 50%; margin: 0 auto;">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            <h4>
                <label class="form-check-label" for="flexSwitchCheck">
                    <span>{{ field.label.text }}:</span>
                </label>
            </h4>

            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}

            {% for option in field %}
            <div class="form-check form-switch">
                <div class="form-check-container">
                    {{ option(checked=False, class="form-check-input", role="switch")}}
                </div>
                <label class="form-check-label" for="flexSwitchCheck">
                    <span>{{ option.label }}</span>
                </label>
            </div>
            {% endfor %}{# ends 'for option in field' #}

            {% endfor %}{# ends 'for field in form...' #}

            <button class="btn btn-primary btn-lg btn-block" style="width: 100%; margin-bottom: 20px;">Add {{ mod.name
                }}!</button>
            <a href="{{ url_for('show_mod_page', game_domain_name=mod.for_games[0].domain_name, mod_id=mod.id) }}"
                class="btn btn-outline-secondary btn-sm" style="width: 100%;">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}