{% extends 'base.html' %}

{% block title %}Edit Password{% endblock %}

{% block content %}

<div class="form-page">
  <h2 class="form-header">Edit {{ user.username }}'s Account Password:</h2>
  <form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'current_password' %}

    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}

    <h6>{{ field.label.text }}</h6>
    {{ field(placeholder=field.description, class="form-control") }}

    {% endfor %}

    <br>
    <h6>{{ form.current_password.label.text }}</h6>
    {% if form.current_password.errors %}
    {% for error in form.current_password.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {% endif %}
    {{ form.current_password(placeholder=form.current_password.description, class="form-control") }}

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{{ url_for('show_user_page', user_id=user.id) }}" class="btn btn-outline-secondary">Cancel</a>
  </form>
</div>

{% endblock %}