{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class="profile">
  <h1 class="page-heading">{{ user.username }}'s Modlists:</h1>
  <div class="card-page">
    <div>
      <div class="shadowed_hr_outer">
        <div class="shadowed_hr_inner">
          <hr>
        </div>
      </div>
    </div>

    {% if not modlists_by_game[0] %}{# handle user having no modlists #}
    <div class="game-modlists">
      <div class="section-heading-split">
        <h3 class="game-section-title">{{ user.username }} has no public modlists</h3>
      </div>
      <div class="shadowed_hr_outer">
        <div class="shadowed_hr_inner">
          <hr style="position: relative; bottom: -8px;">
        </div>
      </div>
    </div>

    {% else %}{# handle showing public modlists (hide private ones) #}
    {% for index in modlists_by_game %}
    {% if not index.all_private %}
    <div class="game-modlists">
      <div class="section-heading-split">
        <a class="section-title" href="{{ url_for('show_game_page', game_domain_name=index.game.domain_name) }}"
          title="Go to {{index.game.name}} game page on Modlist">
          <h3 class="game-section-title">{{ index.game.name }}</h3>
        </a>
        <div class="section-buttons">
          <a href="https://www.nexusmods.com/{{ index.game.domain_name }}" target="_blank" rel="noopener noreferrer"
            title="Go to Nexus to search and browse all mods for {{index.game.name}}" class="btn btn-outline-nexus">
            Open {{ index.game.name}} on Nexus
          </a>
        </div>
      </div>

      <div class="games-modlists">
        {% for modlist in index.modlists %}
        {% if not modlist.private %}
        <div class="modlist-card"
          style="background-image: linear-gradient(to bottom, transparent 0%, rgba(32, 32, 32, 0.9) 60%), url(https://staticdelivery.nexusmods.com/Images/games/4_3/tile_{{index.game.id}}.jpg);">
          <div class="modlist-details">
            <h5 class="modlist-title">
              <a href="{{ url_for('show_modlist_page', user_id=user.id, modlist_id=modlist.id) }}"
                title="Go to {{modlist.name}} ModList page">
                {{ modlist.name}}
              </a>
            </h5>
            <ul>
              {% for mod in modlist.mods[:3] %}
              <li class="mod-title">
                <a href="{{ url_for('show_mod_page', game_domain_name=index.game.domain_name, mod_id=mod.id) }}">
                  {{ mod.name }}
                </a>
              </li>
              {% endfor %}{# ends 'for mod in modlist.mods[:3]' #}
            </ul>
            <a href="{{ url_for('show_modlist_page', user_id=user.id, modlist_id=modlist.id) }}"
              class="btn btn-sm btn-outline-success">See full ModList page</a>
          </div>
        </div>
        {% endif %}{# ends 'if not modlist.private' #}
        {% endfor %}{# ends 'for modlist in index.modlists' #}

      </div>
      <div class="shadowed_hr_outer">
        <div class="shadowed_hr_inner">
          <hr style="position: relative; bottom: -8px;">
        </div>
      </div>
    </div>

    {% endif %}{# ends 'if not index.all_private' #}
    {% endfor %}{# ends 'if index in modlists_by_game' #}
    {% endif %}{# ends 'if not modlists_by_game[0]' #}
  </div>
</div>
</div>


{% endblock %}