{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="form-header text-center">Join ModList</h2>
    <h5 class="form-subheader text-center">Submit your information to register!</h5>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <h6>{{ field.label.text }}</h6>
      {{ field(placeholder=field.description, class="form-control") }}
      {% endfor %}

      <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Sign up!</button>
      <h6 class="mt-5">
        Note: an account on nexusmods.com is needed to log in to ModList. Don't have one?
        <br>
        <a href="https://users.nexusmods.com/register" target="_blank" rel="noopener noreferrer"
          class="btn btn-outline-nexus w-100 mt-3" title="Open Nexus sign up page in a new tab to make an account.">
          Sign up for a Nexus account!
        </a>
      </h6>
    </form>
  </div>
</div>

{% endblock %}